.b_ground{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/s1.jpeg);
    height:100vh;
    background-size: cover;
    background-position: 100%;
    
    align-items: center;   
    text-align: center;
    padding-top: 14%;
    color: goldenrod;
}

body{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.title{
    color: aqua;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    width: 80%;

}

.title ul li{
    display: flex;
    display: inline-block;
    
    margin-left: 3vw;
}

.title ul li a{
    text-decoration: none;
}

a.active,a:hover{
    background:rgb(214, 214, 211);
    transition: 0.2s;
}
.image {
    border: 2px solid #fff;
    width: 100%;
    height: 184px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 300;
    transition: all 2s ease-in-out
}

.image:hover img {
    transform: scale(2, 2);
    cursor: crosshair;
    
}

.order{
    align-items: center;
    text-align: center;
}