.b_ground{
    background-image: url(./images/s1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;   
    text-align: center;
    padding-top: 20%;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.title{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    width: 80%;

}

.title ul li{
    display: flex;
    display: inline-block;
    
    margin-left: 3vw;
}

.title ul li a{
    text-decoration: none;
}

a.active,a:hover{
    background:rgb(214, 214, 211);
    transition: 0.2s;
}